
.DS_Store
ARBeacon.xcodeproj/xcuserdata/setherickson.xcuserdatad/xcschemes/xcschememanagement.plist
ARBeacon.xcodeproj/project.xcworkspace/xcuserdata/setherickson.xcuserdatad/UserInterfaceState.xcuserstate
ARBeacon.xcodeproj/project.pbxproj
ARBeacon.xcworkspace/xcuserdata/setherickson.xcuserdatad/UserInterfaceState.xcuserstate
